.fa-spin-pulse(@steps) {
	animation-name: fa-spin;
	animation-direction: normal;
	animation-duration: 0.06s * @steps;
	animation-iteration-count: infinite;
	animation-timing-function: steps(@steps);
}

@fa-roll-sizes: d4, d6, d8, d10, d12, d20;

each(@fa-roll-sizes, {
	.fa-@{value}-roll-hover:hover {
		.fa-spin-pulse(@steps: 10); 
	}
});
