@import "mixin.less";
@import "chat.less";

.grid-columns(@count) {
	grid-template-columns: repeat(@count, minmax(0, 1fr));
}

// * From foundry2.css
// body.theme-dark {
//   --color-scheme: dark;
//   --color-text-emphatic: var(--color-light-1);
//   --color-text-primary: var(--color-light-2);
//   --color-text-secondary: var(--color-light-3);
//   --color-text-subtle: var(--color-light-5);
//   --color-text-selection: var(--color-light-1);
//   --color-text-selection-bg: var(--color-cool-3);
//   /* Applications */
//   /* Forms */
//   --table-background-color: var(--color-cool-5-50);
//   --table-header-bg-color: var(--color-cool-4);
//   --table-header-border-color: var(--color-cool-4);
//   --table-header-text-color: inherit;
//   --table-row-color-even: rgba(255, 255, 255, 0.1);
//   --table-row-color-odd: transparent;
//   --table-row-color-highlight: var(--color-cool-3);
//   /* Context Menu */
//   --content-link-background: var(--color-cool-5-90);
//   --content-link-border-color: var(--color-light-6);
//   --content-link-icon-color: var(--color-light-4);
//   --content-link-text-color: var(--color-light-2);
//   /* UI */
//   --sidebar-background: var(--color-cool-5-90);
//   --sidebar-separator: 1px solid var(--color-cool-4);
//   --sidebar-entry-hover-bg: rgba(255, 255, 255, 0.1);
//   --sidebar-folder-color: var(--color-dark-1);

// .tox-tinymce-aux {
// 	.tox-menu.tox-collection.tox-collection--list {
// 		background-color: gray !important;
// 	}
// }

.nalfa.sheet {
	hr {
		margin: var(--nalfa-padding) 0;
	}
	h2 {
		border-width: 2px;
	}
	img {
		border: 1px solid var(--color-text-subtle);
	}

	input[type="number"] {
		.chr-input-block(@chr: 2);
	}

	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	input[type="time"],
	input[type="datetime-local"],
	input[type="search"],
	input[type="file"],
	select {
		background: var(--input-background-color);
		background: color-mix(
			in srgb,
			var(--background, var(--input-background-color)),
			transparent 10%
		);
	}

	input[type="checkbox"] {
		box-sizing: border-box;
		appearance: auto;
		-webkit-appearance: checkbox;
		inline-size: 16px;
		block-size: 16px;
		min-inline-size: 16px;
		min-block-size: 16px;
		max-inline-size: 16px;
		max-block-size: 16px;
		flex: 0 0 16px;
		margin: 0;
	}

	input[type="checkbox"]::before,
	input[type="checkbox"]::after {
		content: none !important;
	}

	input.fixed[type="text"] {
		.chr-input-block(@chr: 20);
	}

	select {
		.select-block();
	}

	select.stat {
		.chr-block(@chr: 7);
	}

	select.fixed {
		.chr-block(@chr: 20);
	}

	option {
		background-color: var(--background); //--nalfa-color-background);
	}

	> section.window-content {
		background-image: url(http://localhost:30000/ui/parchment.jpg);
		background-color: var(--nalfa-color-back-background);
		background-blend-mode: multiply;
		padding: var(--nalfa-padding);
	}

	.nalfa-sheet-header {
		font-size: 18px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--nalfa-padding);
		// margin-bottom: var(--nalfa-padding);

		img {
			height: 64px;
			width: 64px;
			background-color: rgba(0, 0, 0, 0.05);
		}

		.nalfa-sheet-header-info {
			display: flex;
			flex: 1;
			gap: calc(var(--nalfa-padding) / 2);
			align-items: center;
			justify-content: space-between;
			.sheet-secondary-info {
				display: flex;
				flex: 2;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				> input {
					.input-block(@font-size: 14px);
					padding: 0;
					margin: 2px 0;
				}
			}
			.sheet-primary-info {
				margin: 0;
				display: flex;
				flex: 4;
				align-items: center;
				padding: 0;

				input[type="text"] {
					height: 48px;
					font-size: 24px;
					padding: 5px;
					border-radius: 3px;
					text-align: center;
				}
			}
		}

		.level {
			height: 64px;
			width: 64px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			> span {
				font-size: 18px;
				margin-bottom: 2px;
			}
			> input {
				.input-block(@font-size: 24px);
				height: 38px;
			}
		}
	}

	.sheet-tabs {
		margin: 0;
	}

	label.field {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		gap: 4px;
	}

	.tabs {
		flex: 0 0 40px;
		border-top: 1px solid var(--color-border-light-secondary);
		border-bottom: 1px solid var(--color-border-light-secondary);

		.item {
			font-weight: bold;
		}

		.item.active {
			text-decoration: underline;
			text-shadow: none;
		}
	}

	.editor {
		height: 100%;
		min-height: 34px;
	}

	.editor.tinymce {
		height: 163px;

		.tox.tox-tinymce {
			height: 100% !important;

			.tox-editor-header {
				background-color: gray !important;
				.tox-toolbar__primary {
					background-color: gray !important;
					.tox-tbtn.tox-tbtn--select.tox-tbtn--bespoke {
						background-color: gray !important;
					}
				}
			}
		}
	}

	.editor-box {
		display: flex;
		flex-direction: column;
		max-height: 600px;
		overflow: hidden;
		min-height: 36px;
		// .input-box(@font-size: 14px);
		font-size: 14px;
		padding: 1px 3px;
	}

	.editor-menu {
		flex-shrink: 0; /* don’t allow shrinking */
	}

	.editor-container {
		overflow: auto;
		flex-shrink: 1;
		flex-grow: 1;
	}

	.nowrap {
		white-space: nowrap;
	}

	.hidden {
		display: none;
	}

	.grid {
		display: grid;
		gap: var(--nalfa-padding);
	}

	.grid--two {
		.grid-columns(2);
	}

	.grid--three {
		.grid-columns(3);
	}

	.grid--four {
		.grid-columns(4);
	}

	.grid--five {
		.grid-columns(5);
	}

	.grid--six {
		.grid-columns(6);
	}
}
