.nalfa-sheet-setup(@width) {
	font-family: var(--nalfa-font-primary), var(--font-sans);
	font-size: 18px;
	color: var(--color-text-primary);
	width: @width;
	margin: var(--nalfa-padding);
	padding: var(--nalfa-padding);
	border: 1px solid var(--color-text-subtle);
	background-image: url(http://localhost:30000/ui/parchment.jpg);
	background-color: var(--background); //--nalfa-color-background);
	background-blend-mode: multiply;
}

.input-block(@font-size: 18px, @padding: initial) {
	@height: calc(@font-size + 8px);
	height: calc(@font-size + 8px);
	line-height: calc(@height - 2px);
	padding: @padding;

	text-align: center;
	font-size: @font-size;
}

.chr-block(@chr: 2, @font-size: 18px) {
	@width: calc((1px * @chr + 2px) * (unit(@font-size) / 2));
	width: @width;
	min-width: @width;
	max-width: @width;
}

.chr-input-block(@chr: 2, @font-size: 18px) {
	.chr-block(@chr, @font-size);
	.input-block(@font-size);
}

.select-block(@font-size: 18px) {
	height: calc(@font-size + 9px);
	font-size: @font-size;
	text-align: center;
}

.chr-select-block(@chr: 3, @font-size: 18px) {
	height: calc(@font-size + 9px);
	width: calc((1px * @chr + 8px) * (unit(@font-size) / 2));
	// border: 1px solid var(--color-text-subtle);
	border-radius: 3px;
	box-sizing: border-box;
	font-size: @font-size;
	text-align: center;
}

.panel-section() {
	display: flex;
	flex-direction: column;
	gap: calc(var(--nalfa-padding) / 2);
	padding: var(--nalfa-padding);
	border-radius: 6px;
	background: color-mix(in srgb, var(--background), transparent 50%);
}

.stats-set-color-property(@property) {
	.@{property}-str {
		@{property}: var(--nalfa-color-stat-str);
	}
	.@{property}-dex {
		@{property}: var(--nalfa-color-stat-dex);
	}
	.@{property}-int {
		@{property}: var(--nalfa-color-stat-int);
	}
	.@{property}-wis {
		@{property}: var(--nalfa-color-stat-wis);
	}
	.@{property}-cha {
		@{property}: var(--nalfa-color-stat-cha);
	}
	.@{property}-con {
		@{property}: var(--nalfa-color-stat-con);
	}
}

.types-set-color-property(@property) {
	.@{property}-none {
		@{property}: var(--nalfa-color-text-dark-0);
	}
	.@{property}-tran {
		@{property}: var(--nalfa-color-type-phys-tran);
	}
	.@{property}-perf {
		@{property}: var(--nalfa-color-type-phys-perf);
	}
	.@{property}-cont {
		@{property}: var(--nalfa-color-type-phys-cont);
	}
	.@{property}-soni {
		@{property}: var(--nalfa-color-type-phys-soni);
	}
	.@{property}-sang {
		@{property}: var(--nalfa-color-type-phys-sang);
	}
	.@{property}-feu {
		@{property}: var(--nalfa-color-type-elem-feu);
	}
	.@{property}-eau {
		@{property}: var(--nalfa-color-type-elem-eau);
	}
	.@{property}-terr {
		@{property}: var(--nalfa-color-type-elem-terr);
	}
	.@{property}-air {
		@{property}: var(--nalfa-color-type-elem-air);
	}
	.@{property}-natu {
		@{property}: var(--nalfa-color-type-elem-natu);
	}
	.@{property}-givr {
		@{property}: var(--nalfa-color-type-elem-givr);
	}
	.@{property}-foud {
		@{property}: var(--nalfa-color-type-elem-foud);
	}
	.@{property}-radt {
		@{property}: var(--nalfa-color-type-magi-radt);
	}
	.@{property}-obsc {
		@{property}: var(--nalfa-color-type-magi-obsc);
	}
	.@{property}-arca {
		@{property}: var(--nalfa-color-type-magi-arca);
	}
	.@{property}-chao {
		@{property}: var(--nalfa-color-type-magi-chao);
	}
	.@{property}-necr {
		@{property}: var(--nalfa-color-type-magi-necr);
	}
	.@{property}-psyc {
		@{property}: var(--nalfa-color-type-magi-psyc);
	}
	.@{property}-arme {
		@{property}: var(--nalfa-color-type-spec-arme);
	}
	.@{property}-soin {
		@{property}: var(--nalfa-color-type-spec-soin);
	}
	.@{property}-abso {
		@{property}: var(--nalfa-color-type-spec-abso);
	}
}

.color-keyword(@keyword) {
	color: var(--color-text-primary);
}

.color-keyword(@keyword) when (@keyword = "str") {
	color: var(--nalfa-color-stat-str);
}

.color-keyword(@keyword) when (@keyword = "dex") {
	color: var(--nalfa-color-stat-dex);
}

.color-keyword(@keyword) when (@keyword = "int") {
	color: var(--nalfa-color-stat-int);
}

.color-keyword(@keyword) when (@keyword = "wis") {
	color: var(--nalfa-color-stat-wis);
}

.color-keyword(@keyword) when (@keyword = "cha") {
	color: var(--nalfa-color-stat-cha);
}

.color-keyword(@keyword) when (@keyword = "con") {
	color: var(--nalfa-color-stat-con);
}

.color-keyword(@keyword) when (@keyword = "tran") {
	color: var(--nalfa-color-type-phys-tran);
}

.color-keyword(@keyword) when (@keyword = "perf") {
	color: var(--nalfa-color-type-phys-perf);
}

.color-keyword(@keyword) when (@keyword = "cont") {
	color: var(--nalfa-color-type-phys-cont);
}

.color-keyword(@keyword) when (@keyword = "soni") {
	color: var(--nalfa-color-type-phys-soni);
}

.color-keyword(@keyword) when (@keyword = "sang") {
	color: var(--nalfa-color-type-phys-sang);
}

.color-keyword(@keyword) when (@keyword = "feu") {
	color: var(--nalfa-color-type-elem-feu);
}

.color-keyword(@keyword) when (@keyword = "eau") {
	color: var(--nalfa-color-type-elem-eau);
}

.color-keyword(@keyword) when (@keyword = "terr") {
	color: var(--nalfa-color-type-elem-terr);
}

.color-keyword(@keyword) when (@keyword = "air") {
	color: var(--nalfa-color-type-elem-air);
}

.color-keyword(@keyword) when (@keyword = "natu") {
	color: var(--nalfa-color-type-elem-natu);
}

.color-keyword(@keyword) when (@keyword = "givr") {
	color: var(--nalfa-color-type-elem-givr);
}

.color-keyword(@keyword) when (@keyword = "foud") {
	color: var(--nalfa-color-type-elem-foud);
}

.color-keyword(@keyword) when (@keyword = "radt") {
	color: var(--nalfa-color-type-magi-radt);
}

.color-keyword(@keyword) when (@keyword = "obsc") {
	color: var(--nalfa-color-type-magi-obsc);
}

.color-keyword(@keyword) when (@keyword = "arca") {
	color: var(--nalfa-color-type-magi-arca);
}

.color-keyword(@keyword) when (@keyword = "chao") {
	color: var(--nalfa-color-type-magi-chao);
}

.color-keyword(@keyword) when (@keyword = "necr") {
	color: var(--nalfa-color-type-magi-necr);
}

.color-keyword(@keyword) when (@keyword = "psyc") {
	color: var(--nalfa-color-type-magi-psyc);
}

.color-keyword(@keyword) when (@keyword = "arme") {
	color: var(--nalfa-color-type-spec-arme);
}

.color-keyword(@keyword) when (@keyword = "soin") {
	color: var(--nalfa-color-type-spec-soin);
}

.color-keyword(@keyword) when (@keyword = "abso") {
	color: var(--nalfa-color-type-spec-abso);
}
