@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexend/v19/wlptgwvFAVdoq2_F94zlCfv0bz1WCzsWzLdneg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Lexend ExtraLight";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexend/v19/wlptgwvFAVdoq2_F94zlCfv0bz1WC7sWzLdneg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cinzeldecorative/v16/daaCSScvJGqLYhG8nNt8KPPswUAPni7TTMw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --item-width: 600px;
  --actor-width: 780px;
  --nalfa-padding: 16px;
  --font-primary: "Lexend" !important;
  --nalfa-font-primary: "Lexend";
  --nalfa-font-stats: "Cinzel Decorative";
  --nalfa-color-background: #2d2d2d;
  --nalfa-color-back-background: #131313;
  --nalfa-color-stat-str: #e06666;
  --nalfa-color-stat-dex: #93c47d;
  --nalfa-color-stat-int: #ffd966;
  --nalfa-color-stat-wis: #6d9eeb;
  --nalfa-color-stat-cha: #ff9ae6;
  --nalfa-color-stat-con: #ffa66f;
  --nalfa-color-stat-major: #34a853;
  --nalfa-color-stat-powerful: #93c47d;
  --nalfa-color-stat-neutral: #ffd966;
  --nalfa-color-stat-weak: #e06666;
  --nalfa-color-attr-hp: #e06666;
  --nalfa-color-attr-init: #93c47d;
  --nalfa-color-attr-defence: #b7b7b7;
  --nalfa-color-rarity-common: #b7b7b7;
  --nalfa-color-rarity-rare: #34a853;
  --nalfa-color-rarity-epic: #6d9eeb;
  --nalfa-color-rarity-heroic: #8771c8;
  --nalfa-color-rarity-mythic: #ffa66f;
  --nalfa-color-key-text: #76a5af;
  --nalfa-color-mastery-bonus: #fbe9b6;
  --nalfa-color-type-phys-tran: #ccc;
  --nalfa-color-type-phys-perf: #ccc;
  --nalfa-color-type-phys-cont: #ccc;
  --nalfa-color-type-phys-soni: #a4c2f4;
  --nalfa-color-type-phys-sang: #e06666;
  --nalfa-color-type-elem-feu: #ff8d46;
  --nalfa-color-type-elem-eau: #6d9eeb;
  --nalfa-color-type-elem-terr: #aa835b;
  --nalfa-color-type-elem-air: #b7b7b7;
  --nalfa-color-type-elem-natu: #34a853;
  --nalfa-color-type-elem-givr: #55dfff;
  --nalfa-color-type-elem-foud: #6161ff;
  --nalfa-color-type-magi-radt: #fbe9b6;
  --nalfa-color-type-magi-obsc: #666666;
  --nalfa-color-type-magi-arca: #fc5a4d;
  --nalfa-color-type-magi-chao: #8771c8;
  --nalfa-color-type-magi-necr: #6be0bb;
  --nalfa-color-type-magi-psyc: #ff9ae6;
  --nalfa-color-type-spec-arme: #b7b7b7;
  --nalfa-color-type-spec-soin: #87ff9a;
  --nalfa-color-type-spec-abso: #ffd966;
  --nalfa-color-action-main: #34a853;
  --nalfa-color-throw-jdt: #34a853;
  --nalfa-color-action-bonus: #ffa66f;
  --nalfa-color-action-reaction: #8e7cc3;
  --nalfa-color-action-concentration: #6d9eeb;
  --nalfa-color-action-movement: #e06666;
  --nalfa-color-class-ombre: #2d2d2d;
  --nalfa-color-class-assassin: #434343;
  --nalfa-color-class-occultiste: #666666;
  --nalfa-color-class-menestrel: #999999;
  --nalfa-color-class-danselame: #b7b7b7;
  --nalfa-color-class-maitre-lins: #efefef;
  --nalfa-color-class-guerrier-totem: #e1bf9a;
  --nalfa-color-class-duelliste: #bfa07f;
  --nalfa-color-class-geomancien: #aa835b;
  --nalfa-color-class-gardien: #846647;
  --nalfa-color-class-sanguinogarde: #a25656;
  --nalfa-color-class-hematomancien: #e06666;
  --nalfa-color-class-arcaniste: #f6675b;
  --nalfa-color-class-berserker: #dd7e6b;
  --nalfa-color-class-metamorphe: #ffa66f;
  --nalfa-color-class-pyromancien: #ff8d46;
  --nalfa-color-class-paladin: #ffca6f;
  --nalfa-color-class-sentinelle: #ffdf87;
  --nalfa-color-class-sage: #fbe9b6;
  --nalfa-color-class-sagittaire: #93c47d;
  --nalfa-color-class-rodeur: #6aa84f;
  --nalfa-color-class-druide: #34a853;
  --nalfa-color-class-veilleur: #21823b;
  --nalfa-color-class-fantome: #1c6574;
  --nalfa-color-class-ancestral: #45818e;
  --nalfa-color-class-necromancien: #40a182;
  --nalfa-color-class-spirit: #03b793;
  --nalfa-color-class-martialiste: #71e0c9;
  --nalfa-color-class-cryomancien: #7de6ff;
  --nalfa-color-class-aeromancien: #c9daf8;
  --nalfa-color-class-bretteur: #9fc5e8;
  --nalfa-color-class-aquamancien: #6d9eeb;
  --nalfa-color-class-suneki: #3c78d8;
  --nalfa-color-class-fulguromancien: #6161ff;
  --nalfa-color-class-cabaliste: #4d398b;
  --nalfa-color-class-chaomancien: #8771c8;
  --nalfa-color-class-astromancien: #d494ef;
  --nalfa-color-class-barde: #ff9ae6;
  --nalfa-color-class-illusionniste: #ffbeef;
  --nalfa-color-class-demoniste: #a64d79;
}
