{{#if hasActionable}}
  <div
    class="sheet-section attack-config"
    data-readonly-section="{{#if readonly}}true{{else}}false{{/if}}"
  >
    {{>
      "systems/nalfa/templates/partials/item/actionable/mode.hbs"
      actionPath=actionPath
      actionData=actionData
      config=config
    }}
    {{>
      "systems/nalfa/templates/partials/item/actionable/requirements.hbs"
      actionPath=actionPath
      actionData=actionData
    }}
    {{>
      "systems/nalfa/templates/partials/item/actionable/targeting.hbs"
      actionPath=actionPath
      actionData=actionData
      config=config
    }}
    <div class="attack-config__section attack-config__section--row">
      <div class="attack-config__section-title">
        <span class="field__label">Effet</span>
      </div>
      <div class="attack-config__fields">
        {{>
          "systems/nalfa/templates/partials/shared/richtext-section.hbs"
          title="Effet"
          namePath=effectNamePath
          editTooltip="Modifier l'effet"
          content=enrichedHTML.effect.text
          hasContent=true
          readonly=readonly
          contentClass="richtext-field richtext-field--overlay-action"
        }}
      </div>
    </div>
    {{>
      "systems/nalfa/templates/partials/item/actionable/costs.hbs"
      actionPath=actionPath
      actionData=actionData
      config=config
      noteNamePath=noteNamePath
      noteHasContent=noteHasContent
      enrichedHTML=enrichedHTML
      readonly=readonly
    }}

    <div class="attack-config__sections">
      {{#if actionData.jdt.enabled}}
        {{>
          "systems/nalfa/templates/partials/item/actionable/roll-jdt.hbs"
          actionPath=actionPath
          actionData=actionData
          config=config
          isActionModeIncant=isActionModeIncant
          isActionModePhysical=isActionModePhysical
        }}
      {{/if}}

      {{#if actionData.jds.enabled}}
        {{>
          "systems/nalfa/templates/partials/item/actionable/roll-jds.hbs"
          actionPath=actionPath
          actionData=actionData
          config=config
        }}
      {{/if}}

      {{#if actionData.jdd.enabled}}
        {{>
          "systems/nalfa/templates/partials/item/actionable/roll-jdd.hbs"
          label="JdD"
          actionPath=actionPath
          damagePath="jdd.damage_formulas"
          damageFormulas=actionData.jdd.damage_formulas
          config=config
          isActionModeIncant=isActionModeIncant
          isActionModePhysical=isActionModePhysical
          addTooltip="Ajouter une formule de dégâts"
          removeTooltip="Supprimer cette formule de dégâts"
          formulaPlaceholder="Ex : 2d6m+1"
        }}
      {{/if}}

      {{#if actionData.jdd.enabled}}
        {{#if actionData.jds.enabled}}
        {{#unless actionData.jds.fails_on_save}}
        {{>
          "systems/nalfa/templates/partials/item/actionable/roll-jdd.hbs"
          label="JdD Sauv"
          actionPath=actionPath
          damagePath="jdd_saved.damage_formulas"
          damageFormulas=actionData.jdd_saved.damage_formulas
          config=config
          isActionModeIncant=isActionModeIncant
          isActionModePhysical=isActionModePhysical
          addTooltip="Ajouter une formule de dégâts sauvegardés"
          removeTooltip="Supprimer cette formule de dégâts sauvegardés"
          formulaPlaceholder="Ex : 2d6m"
          savedDamageModePath="jdd_saved.mode"
          savedDamageMode=actionData.jdd_saved.mode
          showSavedDamageModeSelector=true
          showDamageFormulas=(eq actionData.jdd_saved.mode "other")
        }}
        {{/unless}}
        {{/if}}
      {{/if}}

      {{#if actionData.concentration.enabled}}
        {{>
          "systems/nalfa/templates/partials/item/actionable/roll-concentration.hbs"
          actionPath=actionPath
          actionData=actionData
          config=config
        }}
      {{/if}}
    </div>
  </div>
{{/if}}
