<div class="sheet-section richtext-field richtext-field--description">
  <div class="richtext-field__head">
    <span class="field__label">{{currentDescriptionLabel}}</span>
  </div>
  {{>
    "systems/nalfa/templates/partials/shared/richtext-section.hbs"
    title=currentDescriptionLabel
    namePath=currentDescriptionNamePath
    editTooltip=currentDescriptionEditTooltip
    content=currentDescriptionEnriched
    hasContent=true
    readonly=readonly
    contentClass="richtext-field richtext-field--description richtext-field--overlay-action"
  }}
</div>

<div class="sheet-section sheet-section--loretext richtext-field richtext-field--description">
  <div class="richtext-field__head">
    <span class="field__label">{{currentLoretextLabel}}</span>
  </div>
  {{>
    "systems/nalfa/templates/partials/shared/richtext-section.hbs"
    title=currentLoretextLabel
    namePath=currentLoretextNamePath
    editTooltip=currentLoretextEditTooltip
    content=currentLoretextEnriched
    hasContent=true
    readonly=readonly
    contentClass="richtext-field richtext-field--description richtext-field--overlay-action"
  }}
</div>

{{#if hasIdentification}}
  {{> "systems/nalfa/templates/partials/item/description-identification.hbs" sysData=sysData}}
{{/if}}
