<div class="sheet-section embedded-actions" {{#if enableEmbeddedActionDrop}}data-drop-zone="embedded-actions"{{/if}}>
	{{#if showEmbeddedActionsHeader}}
		<div class="embedded-actions__head">
			<span class="field__label">Actions intégrées</span>
			{{#if isEditable}}
			<button
				type="button"
				class="array-action-btn"
				data-action="add-embedded-action"
				{{#unless canAddEmbeddedAction}}disabled{{/unless}}
				data-tooltip="Ajouter une action intégrée"
			>
				<i class="fa-light fa-square-plus"></i>
			</button>
			{{/if}}
		</div>
	{{/if}}

	{{#if embeddedActions.length}}
		<div class="embedded-actions__list">
			{{#each embeddedActions as |embeddedAction|}}
				{{>
					"systems/nalfa/templates/partials/item/integrated-action.hbs"
					embeddedAction=embeddedAction
					item=@root.item
					itemImage=@root.itemImage
					showIcon=@root.showEmbeddedActionIcon
					enableDrag=@root.enableEmbeddedActionDrag
					readonly=@root.embeddedActionReadonly
					rollable=true
					isEditable=@root.isEditable
				}}
			{{/each}}
		</div>
	{{else}}
		<p class="hint embedded-actions__empty">Aucune action.</p>
	{{/if}}
</div>
