<div class="attack-config__section attack-config__section--row">
  <div class="attack-config__section-title">
    <span class="field__label">Préreq.</span>
  </div>
  <div class="attack-config__fields attack-config__fields--row">
    <input
      class="attack-config__grow-input"
      name="system.{{actionPath}}requires"
      type="text"
      value="{{actionData.requires}}"
      placeholder="Si... (condition d'utilisation)"
    />
  </div>
</div>
