<h2>Item Description</h2>
{{!-- <ul>
  <li>description
    <ul>
      <li><label for="system.description.public">.public : </label>
        <div class="editor-container" id="system.description.public">
          {{!editor enrichedHTML.description.public target="system.description.public" button=true owner=isOwner editable=isEditable}}
        </div>
      </li>
      <li><label for="system.description.gm">.gm : </label>
        <div class="editor-container" id="system.description.gm">
          {{!editor enrichedHTML.description.gm target="system.description.gm" button=true owner=isOwner editable=isEditable}}
        </div>
      </li>
    </ul>
  </li>
  <li><label for="system.source">source : </label>
    <div class="editor-container" id="system.source">
      {{!editor enrichedHTML.source target="system.source" button=true owner=isOwner editable=isEditable}}
    </div>
  </li>
</ul> --}}
