<section class="tab class {{tab.cssClass}}" data-group="primary" data-tab="class">
  <h2>Attributs de classe</h2>
  <div class="class-attributes">
    <div class="base-hp">
      <label for="base-hp">PV de base</label>
      <input type="number" id="base-hp" value="6" data-dtype="Number" disabled/>
    </div>
    <div class="hp-per-level">
      <label for="hp-per-level">PV/niveau</label>
      <input type="number" id="hp-per-level" value="2" data-dtype="Number" disabled/>
    </div>
    <div class="defense">
      <label for="defense">Defense
        (<input type="text" value="{{class.attributes.defense.stats}}" disabled/>)
      </label>
      <input type="number" id="defense" value="{{class.attributes.defense.value}}" disabled/>
    </div>
  </div>
  
  <h2>Actions</h2>
  <div class="actions">
    {{#each config.actions as |name action|}}
      {{!-- <div class="action">
        <label for="{{!action}}">{{!name}}</label>
        <input type="text" id="{{!action}}" value="{{!class.attributes.action.[action]}}" disabled/>
      </div> --}}
    {{/each}}
  </div>
</section>
