<div>
  <input name="system.recommended_level.min" type="number" value="{{sysData.recommended_level.min}}" data-type="Number"/>-<input name="system.recommended_level.max" type="number" value="{{sysData.recommended_level.max}}" data-type="Number"/>
</div>