<h3><label for="value">Description</label></h3>
<div class="editor-box">
  {{editor enrichedHTML.description.value target="system.description.value" button=true collaborate=false}}
</div>
<h3><label for="source">Source</label></h3>
<div class="editor-box">
  {{editor enrichedHTML.description.source target="system.description.source" button=true collaborate=false}}
</div>