<h2>Identifiable Item</h2>
{{!-- <ul>
  <li>unidentified :
    <ul>
      <li>.is : <input name="system.unidentified.is" type="checkbox" {{!checked sysData.unidentified.is}} /></li>
      <li>.description :
        <div class="editor-container" id="system.unidentified.description">
          {{!editor enrichedHTML.unidentified_description target="system.unidentified.description" button=true owner=isOwner editable=isEditable}}
        </div>
    </ul>
  </li>
</ul> --}}
