<section class="sheet-body embedded-action-editor-body">
	{{#if hasActionable}}
		{{> "systems/nalfa/templates/partials/item/actionable.hbs"}}
	{{else}}
		<div class="sheet-section">
			<p class="hint">Cette action n'existe plus.</p>
		</div>
	{{/if}}
</section>
