<section class="sheet-body">
  <a href="https://fontawesome.com/search?q=die&o=r" target="_blank" rel="noopener noreferrer">
    fa-dice d4 d6 d8 d10 d12 d20
  </a>
  <hr/>
  <div>
    <div>
      <i class="fa-solid fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-solid fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-solid fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-solid fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-solid fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-solid fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-solid</span>
    </div>
    <div>
      <i class="fa-regular fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-regular fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-regular fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-regular fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-regular fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-regular fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-regular</span>
    </div>
    <div>
      <i class="fa-light fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-light fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-light fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-light fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-light fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-light fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-light</span>
    </div>
    <div>
      <i class="fa-thin fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-thin fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-thin fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-thin fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-thin fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-thin fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-thin</span>
    </div>
  </div>
  <div>
    <div>
      <i class="fa-sharp fa-solid fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-sharp fa-solid fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-sharp fa-solid fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-sharp fa-solid fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-sharp fa-solid fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-sharp fa-solid fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-sharp fa-solid</span>
    </div>
    <div>
      <i class="fa-sharp fa-regular fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-sharp fa-regular fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-sharp fa-regular fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-sharp fa-regular fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-sharp fa-regular fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-sharp fa-regular fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-sharp fa-regular</span>
    </div>
    <div>
      <i class="fa-sharp fa-light fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-sharp fa-light fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-sharp fa-light fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-sharp fa-light fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-sharp fa-light fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-sharp fa-light fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-sharp fa-light</span>
    </div>
    <div>
      <i class="fa-sharp fa-thin fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-sharp fa-thin fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-sharp fa-thin fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-sharp fa-thin fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-sharp fa-thin fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-sharp fa-thin fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-sharp fa-thin</span>
    </div>
  </div>
  <div>
    <div>
      <i class="fa-sharp-duotone fa-solid fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-sharp-duotone fa-solid fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-sharp-duotone fa-solid fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-sharp-duotone fa-solid fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-sharp-duotone fa-solid fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-sharp-duotone fa-solid fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-sharp-duotone fa-solid</span>
    </div>
    <div>
      <i class="fa-sharp-duotone fa-regular fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-sharp-duotone fa-regular fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-sharp-duotone fa-regular fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-sharp-duotone fa-regular fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-sharp-duotone fa-regular fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-sharp-duotone fa-regular fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-sharp-duotone fa-regular</span>
    </div>
    <div>
      <i class="fa-sharp-duotone fa-light fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-sharp-duotone fa-light fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-sharp-duotone fa-light fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-sharp-duotone fa-light fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-sharp-duotone fa-light fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-sharp-duotone fa-light fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-sharp-duotone fa-light</span>
    </div>
    <div>
      <i class="fa-sharp-duotone fa-thin fa-dice-d4 fa-d4-roll-hover"></i>
      <i class="fa-sharp-duotone fa-thin fa-dice-d6 fa-d6-roll-hover"></i>
      <i class="fa-sharp-duotone fa-thin fa-dice-d8 fa-d8-roll-hover"></i>
      <i class="fa-sharp-duotone fa-thin fa-dice-d10 fa-d10-roll-hover"></i>
      <i class="fa-sharp-duotone fa-thin fa-dice-d12 fa-d12-roll-hover"></i>
      <i class="fa-sharp-duotone fa-thin fa-dice-d20 fa-d20-roll-hover"></i>
      <span>fa-sharp-duotone fa-thin</span>
    </div>
  </div>
  </div>
</section>
