<section class="sheet-body">
	<div class="sheet-section">
		<label class="field">
			<span class="field__label">Rareté</span>
			<select name="system.rarity">
				{{selectOptions config.rarity selected=sysData.rarity}}
			</select>
		</label>
	</div>
	<div class="sheet-section">
		<h2>Description</h2>
		<prose-mirror
			name="system.description"
			value="{{sysData.description}}"
			toggled="true"
		>
			{{{enrichedHTML.description}}}
		</prose-mirror>
	</div>
</section>
