<section class="sheet-body item-sheet-body">
	<div class="item-sheet-content">
		{{#if hasSpecific}}
			<div class="tab {{tabs.specific.cssClass}}" data-group="primary" data-tab="specific">
				{{> "systems/nalfa/templates/partials/item/item-specific.hbs"}}
			</div>
		{{/if}}

		{{#if hasActionable}}
			<div class="tab {{tabs.actionable.cssClass}}" data-group="primary" data-tab="actionable">
				{{> "systems/nalfa/templates/partials/item/actionable.hbs"}}
			</div>
		{{/if}}

		<div class="tab {{tabs.description.cssClass}}" data-group="primary" data-tab="description">
			{{> "systems/nalfa/templates/partials/item/description.hbs"}}
		</div>
	</div>

	{{#if hasPhysical}}
		<hr/>
		<div class="sheet-section sheet-section--physical">
			{{> "systems/nalfa/templates/partials/item/physical.hbs"}}
		</div>
	{{/if}}
</section>
