<div>
  <h3>Équipement :</h3>
</div>
<div>
  <h3>Monnaies :</h3>
  {{#if currencies}}
  <div class="currencies">
    {{#each currencies as |currency|}}
      {{> "systems/nalfa/templates/partials/character-googlesheet/inventory/currency.hbs" currency=currency}}
    {{/each}}
  </div>
  {{else}}
  (Pas de monnaies)
  {{/if}}
</div>