<div class="nalfa-sheet">
  <section class="sheet-body">
    <div class="tab info {{tab.cssClass}}" data-group="primary" data-tab="class">
      {{> "systems/nalfa/templates/partials/character-googlesheet/class.hbs"}}
    </div>
  </section>
</div>
