<div class="nalfa-sheet">
  <section class="sheet-body">
    <div class="tab info {{tab.cssClass}}" data-group="primary" data-tab="inventory">
      {{> "systems/nalfa/templates/partials/character-googlesheet/inventory.hbs"}}
    </div>
  </section>
</div>
