<div class="nalfa-sheet">
    <!-- Tab selection : -->
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="character">Personnage</a>
      <a class="item" data-tab="tracker">Tracker</a>
      <a class="item" data-tab="class">Classe</a>
      <a class="item" data-tab="inventory">Inventaire</a>
      <a class="item" data-tab="esters">Esters</a>
    </nav>
</div>
