<label class="field">
	<span class="field__label">Type de trinket</span>
	<select name="system.trinket_type">
		{{selectOptions config.trinket_types selected=sysData.trinket_type}}
	</select>
</label>
