<form class="character {{cssClass}}" autocomplete="off">
  <div class="nalfa-sheet">
    {{> "systems/nalfa/templates/partials/item-sheet-header.hbs"}}

    <!-- Tab selection : -->
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="item-specific">Weapon specific</a>
      <a class="item" data-tab="item-desc">Item Desc</a>
      <a class="item" data-tab="rarity">Rarity</a>
      <a class="item" data-tab="physical">Physical</a>
      <a class="item" data-tab="recom-level">Recom Level</a>
      <a class="item" data-tab="actionable">Actionable</a>
      <a class="item" data-tab="effects">Effects</a>
    </nav>

    <section class="sheet-body">
      <div class="tab info" data-group="primary" data-tab="item-specific">
        {{> "systems/nalfa/templates/partials/item-sheets/item-specific/weapon.hbs"}}
      </div>
      <div class="tab info" data-group="primary" data-tab="item-desc">
        {{> "systems/nalfa/templates/partials/item-sheets/item-desc.hbs"}}
      </div>
      <div class="tab info" data-group="primary" data-tab="rarity">
        {{> "systems/nalfa/templates/partials/item-sheets/rarity.hbs"}}
      </div>
      <div class="tab info" data-group="primary" data-tab="physical">
        {{> "systems/nalfa/templates/partials/item-sheets/physical.hbs"}}
      </div>
      <div class="tab info" data-group="primary" data-tab="recom-level">
        {{> "systems/nalfa/templates/partials/item-sheets/recom-level.hbs"}}
      </div>
      <div class="tab info" data-group="primary" data-tab="actionable">
        {{> "systems/nalfa/templates/partials/item-sheets/actionable.hbs"}}
      </div>
      <div class="tab info" data-group="primary" data-tab="effects">
        {{> "systems/nalfa/templates/partials/item-sheets/effects.hbs"}}
      </div>
    </section>
  </div>
</form>
