<div class="combat-overview">
  {{>
    "systems/nalfa/templates/partials/character/combat-health-card.hbs"
    sysData=sysData
    config=config
    isKO=isKO
    deathTick=deathTick
  }}
  {{>
    "systems/nalfa/templates/partials/character/combat-defense-card.hbs"
    sysData=sysData
    config=config
  }}
  {{>
    "systems/nalfa/templates/partials/character/combat-initiative-card.hbs"
    sysData=sysData
    config=config
  }}
</div>
