<div class="value-mode-toggle">
  <label class="value-mode-toggle__label" for="value-mode-select">Mode d'affichage</label>
  <select class="fixed" id="value-mode-select" name="system.ui.valueMode">
    {{selectOptions config.valueMode selected=sysData.ui.valueMode}}
  </select>
</div>
